<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959776165336-4s1so5mrepg2q6euflll1joscvflgavs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959776165336-4s1so5mrepg2q6euflll1joscvflgavs</string>
	<key>API_KEY</key>
	<string>AIzaSyCUtq4d5wqkKL56DXyd9EvLb_ZXuqDAyv0</string>
	<key>GCM_SENDER_ID</key>
	<string>959776165336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardScannerExample</string>
	<key>PROJECT_ID</key>
	<string>card-scanner-example</string>
	<key>STORAGE_BUCKET</key>
	<string>card-scanner-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959776165336:ios:28e33afb5d48819f76b6ad</string>
</dict>
</plist>